body {
    background-color: #000;
    font-family: Arial, sans-serif;
    margin: 0;
}

.nav {
    position: relative;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav li a {
    text-decoration: none;
    color: #c4c4c4;
}

.header {
    position: absolute;
    /* background-color: blue; */
    width: 100%;
    height: 80px;
}

.nav-options{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.icon img {
    width: 40px;
    height: 40px;
}

.search {
    padding: 14px 16px;
}


/* CONTENT */

.content {
    position: absolute;
    margin-top: 80px;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    z-index: 1;
}

.sample-picture {
    top: 20px;
    left: 50px;
    position: absolute;
    width: 400px;
    height: 500px;
    background-color: skyblue;
    z-index: 2;
}

.headline {
    top: 100px;
    right: 50px;
    position: absolute;
    width: 700px;
    height: 160px;
    background-color: black;
    z-index: 2;
}

.head-description {
    top: 260px;
    right: 100px;
    position: absolute;
    width: 650px;
    height: 100px;
    background-color: black;
    color: #c4c4c4;
    text-align: left;
    font: 400 20px "Inter", sans-serif;
    z-index: 2;
}

/* TEXT SPAN */
.headline-text-1 {
    color: #bc3131;
    font: 700 64px "Inter", sans-serif;
}
.headline-text-2 {
    color: #c4c4c4;
    font: 700 64px "Inter", sans-serif;
}
.headline-text-3 {
    color: #bc3131;
    font: 700 64px "Inter", sans-serif;
}

/* SHAPE */
.home-ellipse {
    border-radius: 50%;
    border-style: solid;
    border-color: #d9d9d9;
    border-width: 5px;
    width: 130px;
    height: 130px;
    position: absolute;
    right: 540px;
    z-index: 2;
}

.home-line {
    position: absolute;
    border-style: solid;
    border-color: #bc3131;
    border-width: 5px 0 0 0;
    width: 155px;
    height: 0px;
    right: 110px;
    top: 95px;
    z-index: 3;
}