body {
    background-color: #000;
    font-family: Arial, sans-serif;
    margin: 0;
}

.nav {
    position: relative;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav li a {
    text-decoration: none;
    color: #c4c4c4;
}

.header {
    position: absolute;
    /* background-color: blue; */
    width: 100%;
    height: 80px;
}

.nav-options{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.icon img {
    width: 40px;
    height: 40px;
}

.search {
    padding: 14px 16px;
}


/* CONTENT */

.content {
    position: absolute;
    margin-top: 80px;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    z-index: 1;
}

.sample-picture {
    top: 20px;
    left: 50px;
    position: absolute;
    width: 400px;
    height: 500px;
    background-color: skyblue;
    z-index: 2;
}

.headline {
    top: 50px;
    right: 50px;
    position: absolute;
    width: 800px;
    height: 200px;
    background-color: bisque;
    z-index: 2;
}

.head-description {
    top: 260px;
    right: 50px;
    position: absolute;
    width: 800px;
    height: 200px;
    background-color: lightblue;
    z-index: 2;
}