body {
    background-color: #000;
    font-family: Arial, sans-serif;
    margin: 0;
}

.nav {
    position: relative;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav li a {
    text-decoration: none;
    color: #c4c4c4;
}

.header {
    position: fixed;
    background-color: black;
    width: 100%;
    height: 80px;
    z-index: 6;
}

.nav-options{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.icon img {
    width: 40px;
    height: 40px;
}

.search {
    padding: 14px 16px;
}


/* CONTENT */

.page-container {
    position: absolute;
    margin-top: 80px;
    width: 100%;
    height: 100%;
    /* background-color: aquamarine; */
    z-index: 1;
}

.sample-picture {
    top: 60px;
    left: 200px;
    position: absolute;
    width: 233px;
    height: 485px;
    background-color: skyblue;
    z-index: 2;
}

.headline {
    top: 125px;
    right: 50px;
    position: absolute;
    width: 700px;
    height: 160px;
    font: 400 20px "Inter", sans-serif;
    z-index: 2;
}

.head-description {
    top: 270px;
    right: 100px;
    position: absolute;
    width: 650px;
    height: 100px;
    color: #c4c4c4;
    text-align: left;
    font: 400 20px "Inter", sans-serif;
    z-index: 2;
}

.getting-started-btn {
    position: absolute;
    top: 400px;
    right: 500px;
}

.getting-started-btn button {
    background-color: #bc3131;
    border: none;
    color: #c4c4c4;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.getting-started-btn button:hover {
    background-color: #FF5733;
}

/* TEXT SPAN */
.headline-text-1,
.headline-text-3 {
    color: #bc3131;
    font: 700 64px "Inter", sans-serif;
}
.headline-text-2 {
    color: #c4c4c4;
    font: 700 64px "Inter", sans-serif;
}

/* CLIENT */
.heading-client {
    position: absolute;
    top: 30px;
    left: 250px;
    width: 600px;
    height: 100px;
    /* background-color: #FF5733; */
    z-index: 1;
}

.heading-client-text-1 {
    color: #bc3131;
    font: 700 36px "Inter", sans-serif;
}
.heading-client-text-2 {
    color: #c4c4c4;
    font: 700 42px "Inter", sans-serif;
}

.card-container {
    display: flex;
    position: absolute;
    top: 200px;
    /* background-color: aquamarine; */
    justify-content: center;
    width: 100%;
    height: 350px;
}

.card-1,
.card-2,
.card-3 {
    position: relative;
    display: flex;
    justify-content: center;
    background: #1b1b1b;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    width: 296px;
    height: 208px;
    margin-inline: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.client-profile-1,
.client-profile-2,
.client-profile-3 {
    position: relative;
    top: 180px;
    display: flex;
    justify-content: center;
    /* background: white; */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-inline: 30px;
    overflow: hidden;
}

.client-profile-1 img,
.client-profile-2 img,
.client-profile-3 img {
    position: relative;
    width: 80px;
    height: 80px;
}

.client-feedback-1,
.client-feedback-2,
.client-feedback-3 {
    position: absolute;
    top: 10px;
    background: white;
    width: 250px;
    height: 140px;
    margin-inline: 30px;
}

.client-name-1,
.client-name-2,
.client-name-3 {
    position: absolute;
    top: 270px;
    text-align: center;
    width: 100px;
    height: 100px;
}

.username {
    color: #bc3131;
    font: 700 27px "Inter", sans-serif;
}

.positions {
    color: #c4c4c4;
    font: 700 17px "Inter", sans-serif;
}

/* SHAPE */
.home-ellipse {
    border-radius: 50%;
    border-style: solid;
    border-color: #d9d9d9;
    border-width: 5px;
    width: 115px;
    height: 115px;
    position: absolute;
    right: 540px;
    z-index: 2;
}

.home-line {
    position: absolute;
    border-style: solid;
    border-color: #bc3131;
    border-width: 5px 0 0 0;
    width: 155px;
    height: 0px;
    right: 110px;
    top: 120px;
    z-index: 3;
}

.home-polygon {
    position: absolute;
    right: 70px;
    top: 300px;
    overflow: visible;
}

.client-polygon {
    position: absolute;
    left: 40px;
    /* background-color: wheat; */
    overflow: visible;
}

.home-rectangle-2 {
    border-style: solid;
    border-color: #bc3131;
    border-width: 5px;
    width: 233px;
    height: 485px;
    position: absolute;
    left: 60px;
    top: 90px;
    transform-origin: 0 0;
    transform: rotate(-22.758deg) scale(1, 1);
    z-index: 1;
}